:root {
    --Ce1: rgba(179, 134, 111, 1);
    --Ce2: rgba(220, 190, 168, 1);
    --Ce3: rgba(255, 231, 214, 1);
    --Ce4: rgba(230, 221, 212, 1);
    --Ce5: rgba(255, 242, 232, 1);
    --Cp1: rgba(251, 218, 205, 1);
    --Cp2: rgba(248, 228, 161, 1);
    --Cp3: rgba(93, 37, 16, 1);
    --Cp4: rgba(65, 47, 38, 1);
    --Cr1: rgba(82, 138, 43, 1);
    --Cr2: rgba(207, 49, 51, 1);
    --Cr3: rgba(255, 193, 61, 1);
    --Cr4: rgba(38, 83, 175, 1);
    --Ct1: rgba(255, 237, 185, 1);
    --Ct2: rgba(208, 111, 57, 1);
    --Ct3: rgba(176, 198, 136, 1);
    --Ct4: rgba(48, 87, 35, 1);
  }
.component {
    background-color: #fbdacd;
    border: 3px solid;
    border-color: #000000;
    border-radius: 100%;
    height: 75px;
    position: absolute;
    width: 75px;
    object-fit: cover;
  }
  
  .component .overlap {
    height: 35px;
    left: 8px;
    position: absolute;
    top: 7px;
    width: 58px;
  }
  
  .component .overlap-group {
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 58px;
  }
  
  .component .rectangle {
    background-color: var(--Cr1);
    border: 1px solid;
    border-color: #000000;
    border-radius: 50px;
    height: 9px;
    left: -3px;
    position: absolute;
    top: 13px;
    transform: rotate(-43.95deg);
    width: 41px;
  }
  
  .component .div {
    background-color: #ffc13d;
    border: 0.5px solid;
    border-color: #000000;
    height: 9px;
    left: 10px;
    position: absolute;
    top: 19px;
    transform: rotate(-43.95deg);
    width: 2px;
  }
  
  .component .rectangle-2 {
    background-color: var(--Cr2);
    border: 1px solid;
    border-color: #000000;
    border-radius: 50px;
    height: 9px;
    left: 9px;
    position: absolute;
    top: 26px;
    width: 42px;
  }
  
  .component .rectangle-3 {
    background-color: var(--Cr1);
    border: 0.5px solid;
    border-color: #000000;
    border-radius: 50px;
    height: 9px;
    left: 20px;
    position: absolute;
    top: 13px;
    transform: rotate(43.95deg);
    width: 41px;
  }
  
  .component .rectangle-4 {
    background-color: #ffc13d;
    border: 0.3px solid;
    border-color: #000000;
    height: 9px;
    left: 22px;
    position: absolute;
    top: 8px;
    transform: rotate(-43.95deg);
    width: 2px;
  }
  
  .component .rectangle-5 {
    background-color: var(--Cr1);
    border: 0.5px solid;
    border-color: #000000;
    height: 8px;
    left: 20px;
    position: absolute;
    top: 26px;
    width: 2px;
  }
  
  .component .rectangle-6 {
    background-color: var(--Cr3);
    border: 0.5px solid;
    border-color: #000000;
    height: 8px;
    left: 28px;
    position: absolute;
    top: 26px;
    width: 2px;
  }
  
  .component .rectangle-7 {
    background-color: var(--Cr3);
    border: 0.5px solid;
    border-color: #000000;
    height: 8px;
    left: 24px;
    position: absolute;
    top: 26px;
    width: 2px;
  }
  
  .component .rectangle-8 {
    background-color: #ede1d2;
    border: 0.2px solid;
    border-color: #000000;
    border-radius: 50px;
    height: 7px;
    left: 21px;
    position: absolute;
    top: 14px;
    transform: rotate(43.95deg);
    width: 39px;
  }
  
  .component .line {
    height: 8px;
    left: 29px;
    position: absolute;
    top: 3px;
    width: 8px;
  }
  
  .component .img {
    height: 9px;
    left: 30px;
    position: absolute;
    top: 3px;
    width: 9px;
  }
  
  .component .line-2 {
    height: 9px;
    left: 26px;
    position: absolute;
    top: 5px;
    width: 9px;
  }
  
  .component .line-3 {
    height: 5px;
    left: 27px;
    position: absolute;
    top: 4px;
    width: 5px;
  }
  
  .component .line-4 {
    height: 14px;
    left: 28px;
    position: absolute;
    top: 3px;
    width: 14px;
  }
  
  .component .rectangle-9 {
    background-color: #ffc13d;
    border: 0.3px solid;
    border-color: #000000;
    height: 7px;
    left: 51px;
    position: absolute;
    top: 24px;
    transform: rotate(43.95deg);
    width: 1px;
  }
  
  .component .overlap-2 {
    height: 17px;
    left: 17px;
    position: absolute;
    top: 42px;
    width: 42px;
  }
  
  .component .rectangle-10 {
    background-color: var(--Cr3);
    border: 1px solid;
    border-color: #000000;
    border-radius: 50px;
    height: 9px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 42px;
  }
  
  .component .rectangle-11 {
    background-color: var(--Cr4);
    border: 1px solid;
    border-color: #000000;
    border-radius: 50px;
    height: 9px;
    left: 0;
    position: absolute;
    top: 0;
    width: 42px;
  }
  
  .component .rectangle-12 {
    background-color: var(--Cr1);
    border: 0.5px solid;
    border-color: #000000;
    height: 8px;
    left: 34px;
    position: absolute;
    top: 0;
    width: 2px;
  }
  
  .component .rectangle-13 {
    background-color: var(--Cr2);
    border: 0.5px solid;
    border-color: #000000;
    height: 8px;
    left: 23px;
    position: absolute;
    top: 9px;
    width: 2px;
  }
  
  .component .rectangle-14 {
    background-color: var(--Cr2);
    border: 0.5px solid;
    border-color: #000000;
    height: 8px;
    left: 15px;
    position: absolute;
    top: 9px;
    width: 2px;
  }
  
  .component .rectangle-15 {
    background-color: var(--Cr1);
    border: 0.5px solid;
    border-color: #000000;
    height: 8px;
    left: 30px;
    position: absolute;
    top: 0;
    width: 2px;
  }
  