:root {
    --Ce1: rgba(179, 134, 111, 1);
    --Ce2: rgba(220, 190, 168, 1);
    --Ce3: rgba(255, 231, 214, 1);
    --Ce4: rgba(230, 221, 212, 1);
    --Ce5: rgba(255, 242, 232, 1);
    --Cp1: rgba(251, 218, 205, 1);
    --Cp2: rgba(248, 228, 161, 1);
    --Cp3: rgba(93, 37, 16, 1);
    --Cp4: rgba(65, 47, 38, 1);
    --Cr1: rgba(82, 138, 43, 1);
    --Cr2: rgba(207, 49, 51, 1);
    --Cr3: rgba(255, 193, 61, 1);
    --Cr4: rgba(38, 83, 175, 1);
    --Ct1: rgba(255, 237, 185, 1);
    --Ct2: rgba(208, 111, 57, 1);
    --Ct3: rgba(176, 198, 136, 1);
    --Ct4: rgba(48, 87, 35, 1);
  }
.label {
    position: relative;
}

.label .bo-khouse {
  color: transparent;
  font-family: "Istok Web-Bold", Helvetica;
  font-size: 250%;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50%;
  width: 90%;
}

.label .text-wrapper {
  color: #528a2b;
}

.label .span {
  color: #cf3133;
}

.label .text-wrapper-2 {
  color: #2653af;
}

.label .text-wrapper-3 {
  color: #ffc13d;
}
  